.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* -------------------------------- */
* {
  /* outline: 2px solid #ff0000; */
}
:root {
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-none: #0000;
  --clr-green: rgb(43, 182, 115);
  --clr-red: rgb(255, 70, 45);
  --clr-yellow: rgb(255, 193, 71);
  --fnt-menu: "Ubuntu", sans-serif;
  background-color: var(--clr-dark);

}

h1 {
  
  font-family: "Inter-Bold", arial, sans-serif;
}

.sphere-container {
  
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.sphere-container > * {
  margin: auto;
}

.btn {
  font-size: 1em;
  color: var(--clr-light);
}

.background-green {
  background-color: var(--clr-green) !important;
}

.background-yellow {
  background-color: var(--clr-yellow) !important;
}

.background-red {
  background-color: var(--clr-red) !important;
}

.main-page {

  background-color: var(--clr-none);
}




.nav-bar {
  display: flex;
  width: 90%;
  height: 10vh;
  padding: 1em 2em;
  flex-direction: row;
  
}

.nav-logo-img {
  width: 3em;
  height: auto;

}

.nav-menu-container {
  width: 50%;
  margin-left: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-option {
  color: var(--clr-light);
  font-family: var(--fnt-menu);

  /* Responsive font size with clamp */
  font-size: clamp(10px, 2vw, 30px); /* Min 16px, scale with viewport, max 24px */

  cursor: pointer;
}

.nav-option > * {
  text-decoration: none;
}


.hero-comp-container {
  margin: auto;
  width: 700px;
  padding: 10em;
  /* outline: 2px solid #ff0000; */
  position: relative;
}

.hero-comp-container > * {
  color: var(--clr-light);
}

.hero-comp-container > h1 {
  font-size: 7.5em;
}

.country, .band {
  position: absolute;
  width: max-content;
  color: #ffffff;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.solv-alpha, .solv-beta {
  animation: fadeOut 4s forwards;
}

.coag-alpha, .coag-beta {
  animation: fadeIn 4s forwards;
}


/* Fade animations */
@keyframes fadeOut {
  0%, 30% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(20px, 20px); /* Slight movement to indicate transition */
  }
}

@keyframes fadeIn {
  0%, 30% {
    opacity: 0;
    transform: translate(-20px, -20px); /* Opposite movement for the other element */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.game-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Ensures all items stretch to the container’s height */
  width: 80%;
  margin: auto;
  margin-top: 5em;
  outline: 2px solid #ff0000;
}

.game-card-container {
  outline: 2px solid #ff0000;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 8px 24px rgba(149, 157, 165, .2);
  margin: 0 15px min(20px, 2.3vh);
  background-color: #fff;
  border-radius: 20px;
  padding: 1em 2em;
  
  /* Set minimum height to fill the row */
  min-height: 100%; /* Ensures each card fills available height in the row */
  height: auto; /* Allows card content to adjust height as needed */
}


.game-card-container>h1 {
  font-size: min(2.5vw, 3vh);
  margin: 0.5em;
}

.game-card-container>h2 {
  font-size: 20px;
  font-size: clamp(16px, (1.5vw, 2.2vh), 26px);
  margin-top: 0;
  justify-content: center;
  width: 80%;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.game-card-container>img {
  height: 10vh;
  margin: 2vh 0;
  /* outline: 2px solid #ff0000; */
}

.game-card-container>p {
  width: 75%;
  font-size: min(13px, 1.6vh);
  margin: min(9px, .3vh) 5px;
}

.score-container>h1 {
  font-size: larger;
  margin-bottom: 0;
}

.score-container>p {
  font-size: min(13px, 1.6vh);
  width: 100%;
  margin: 0 0 7px;
}

.game-card-container>button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: clamp(13px,(1.3vw,2vh),18px); */
  padding: 6px 16px;
  margin: 4px 6px;
  border-radius: 20px;
  border-width: 0;

  text-decoration: none;
  vertical-align: middle;

  width: 7.5em;
  height: 2.5em;
  max-width: 98px;
  max-height: 42px;
}

.about-page {
  width: 50%;
  height: 100vh;
  margin: auto;
  padding: 5em;
  background-image: linear-gradient(to right, #0000004d 10%, #000000c0 50%, #0000004d 90%);
/* outline: 2px solid #ff0000; */
}

.about-page > h1 {
  padding: 1em 0;
  text-align: center;
  color: var(--clr-light);
}

.about-page > p {
 
  margin: auto;
  font-size: large;
  text-align: center;
  color: var(--clr-light);
  
}

.leaderboard-page {
  width: 50%;
  
  margin: auto;
  padding: 1em 5em;
  border-radius: 10em;
  background-color: var(--clr-light);
  
 /* outline: 2px solid #ff0000; */
}

.leaderboard-page > * {
 
  text-align: center;
  color: var(--clr-dark);
}
.leaderboard-container {
  margin: 2em auto;
  padding: 1em 2em;

}
.leaderboard-container > * {
  /* margin: 0 !important; */
  /* outline: 2px solid #ff0000; */
}
.leaderboard-container > img {
  width: 100px;
  height: auto;
  margin: 0 1em;
}
.leaderboard-container > h3 {
  margin: 0 0 1em 0;
  font-size: 50px;
}
.rank-container > * {
  /* outline: 2px solid #ff0000; */
}
.rank-container {
  display: flex;
  margin: 1em 0;
  flex-direction: row;
  background-color: var(--clr-dark);
  border-radius: 5em;
  align-items: center;
}
.player-rank {
  width: 10%; 
  height: auto;
  margin: 0 1em;
  border-radius: 10em;
}
.player-rank > h1 {
  color: var(--clr-light) !important;
}
.player-info{
  width: 90%;
  padding: 1em 2em ;
  border-radius: 2.5em;
  text-align: left !important;
  background-color: #000;
}
.player-info > h3 {
  font-size: 30px;
  color: var(--clr-light);
}
.player-info > h5 {
  margin-left: 1em;
  font-size: 15px;
  color: #a7a7a7;
}
.player-info > * {
  margin: 0;
  /* outline: 2px solid #ff0000; */
}

.profile-pic {
  width: 5em;
  height: 5em;
  border: 2px solid var(--clr-dark);
  border-radius: 50%;
}
.profile-pic > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* ------------------------------------ */

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.bgColor-green {
  background-color: var(--clr-green);
}

.bgColor-yellow {
  background-color: var(--clr-yellow);
}

.bgColor-red {
  background-color: var(--clr-red);
}

.color-green {
  color: var(--clr-green) !important;
}

.color-yellow {
  color: var(--clr-yellow) !important;
}

.color-red {
  color: var(--clr-red) !important;
}