.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* -------------------------------- */

:root {
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-none: #0000;
  --clr-green: rgb(43, 182, 115);
  --clr-red: rgb(255, 70, 45);
  --clr-yellow: rgb(255, 193, 71);
  --fnt-menu: "Ubuntu", sans-serif;
  background-color: var(--clr-dark);

}

h1 {
  
  font-family: "Inter-Bold", arial, sans-serif;
}

.sphere-container {
  position: absolute;
  z-index: -1;
}

.btn {
  font-size: 1em;
  color: var(--clr-light);
}

.background-green {
  background-color: var(--clr-green) !important;
}

.background-yellow {
  background-color: var(--clr-yellow) !important;
}

.background-red {
  background-color: var(--clr-red) !important;
}

.main-page {

  background-color: var(--clr-none);
}

.game-cards-container {
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 0;
  min-width: 0;
  margin-top: 5em;
}



.nav-bar {
  display: flex;
  width: 100vw;
  height: 10vh;
  padding: 1em 2em;
  flex-direction: row;
  
}

.nav-logo-img {
  width: 3em;
  height: auto;

}

.nav-menu-container {
  width: 50%;
  margin-left: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-option {
  color: var(--clr-light);
  font-family: var(--fnt-menu);
  font-size: min(24px, 2.5vw);
  cursor: pointer;
}

.hero-comp-container {
  height: 20vh;
  padding: 10em;
  /* outline: 2px solid #ff0000; */
}

.hero-comp-container>* {

  color: var(--clr-light);
  /* outline: 2px solid #ffffff50; */
}

.coug {
  position: absolute;
  width: max-content;
  color: #ffffff;
  left: 51%;
  right: 49%;

  /* outline: 2px solid #ffffff50; */


}

.solv {
  position: absolute;
  width: max-content;

  color: #ffffff;

}

.solv-alpha {
  position: absolute;
  width: max-content;
  left: 38%;
  right: 55%;
  top: 18%;
  animation: test2 4s infinite;
}

.solv-beta {
  position: absolute;
  width: max-content;
  left: 40%;
  right: 60%;
  top: 50%;
  animation: test2 1s infinite;
}

.coug-alpha {
  position: absolute;
  width: max-content;
  left: 45%;
  right: 55%;
  top: 25%;
  animation: test 4s infinite;
}

.coug-beta {
  position: absolute;
  left: 50%;
  right: 50%;
  top: 55%;
  animation: test 1s infinite;
}

@keyframes test2 {
  0% {
    transform: translate(0%, 0%);
    opacity: 1;
  }

  20% {
    transform: translate(0%, 0%);
    opacity: 0.1;
  }

  100% {
    transform: translate(100%, 100%);

    opacity: 0;
  }

}

@keyframes test {
  0% {
    transform: translate(0%, 0%);
    opacity: 0;
  }

  45% {
    transform: translate(-100%, -100%);
    opacity: 1;
  }

  100% {
    transform: translate(-100%, -100%);

    opacity: 1;
  }


}

.game-card-container {

  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  box-shadow: 0 8px 24px rgba(149, 157, 165, .2);
  margin: 0 15px min(20px, 2.3vh);
  background-color: #fff;
  width: min(28vw, 32vh);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-height: 0;
  overflow: visible;
  max-height: 450px;
  border-radius: 20px;
  max-width: 330px;
  padding: 1em 2em;
}

.game-card-container>h1 {
  font-size: min(2.5vw, 3vh);
  margin: 0.5em;
}

.game-card-container>h2 {
  font-size: 20px;
  font-size: clamp(16px, (1.5vw, 2.2vh), 26px);
  margin-top: 0;
  justify-content: center;
  width: 80%;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.game-card-container>img {
  height: 100px;
  margin: 2em 0;
  /* outline: 2px solid #ff0000; */
}

.game-card-container>p {
  width: 75%;
  font-size: min(13px, 1.6vh);
  margin: min(9px, .3vh) 5px;
}

.score-container>h1 {
  margin-bottom: 0;
}

.score-container>p {
  font-size: min(13px, 1.6vh);
  width: 100%;
  margin: 0 0 7px;
}

.game-card-container>button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: clamp(13px,(1.3vw,2vh),18px); */
  padding: 6px 16px;
  margin: 4px 6px;
  border-radius: 20px;
  border-width: 0;

  text-decoration: none;
  vertical-align: middle;

  width: 7.5em;
  height: 2.5em;
  max-width: 98px;
  max-height: 42px;
}


/* ------------------------------------ */

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.bgColor-green {
  background-color: var(--clr-green);
}

.bgColor-yellow {
  background-color: var(--clr-yellow);
}

.bgColor-red {
  background-color: var(--clr-red);
}

.color-green {
  color: var(--clr-green) !important;
}

.color-yellow {
  color: var(--clr-yellow) !important;
}

.color-red {
  color: var(--clr-red) !important;
}