.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



/* -------------------------------- */

.sphere-container {
  
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: -1;
}
.sphere-container > * {
  margin: auto;
}

.btn {
  font-size: 1em;
 
}

.btn-v1 {
  border: none;
  border-radius: 5em;
  color: var(--clr-light);
}

.btn-X {
  position: absolute;
  width: fit-content;
  height: 3em;
  top: 13%;
  left: 75%;
  border-radius: 50%;
  font-size: large;
  font-weight: bolder;
  color: var(--clr-light);
  box-shadow: none;
  border: 3.5px solid var(--clr-light);
  background-color: var(--clr-red);
}
.game-container {
  height: 75vh;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* outline: 2px solid #ff0000; */
}
.game-result {
  background-color: #fff;
}
.media-player {
  width: 50%;
  margin: auto;
  /* outline: 2px solid var(--clr-light); */
}
.media-player audio {
  width: 100%;
  border-radius: 5em;
 background-color: var(--clr-select);
}
.answers-container {
  display: flex;
  margin: auto;
}
.background-green {
  background-color: var(--clr-green) !important;
}
 
.background-yellow {
  background-color: var(--clr-yellow) !important;
}

.background-red {
  background-color: var(--clr-red) !important;
}

.main-page {
  /* pointer-events: none; */
outline: 2px solid var(--clr-red-dark);
  background-color: var(--clr-none);
}




.nav-bar {
  display: flex;
  width: 90%;
  height: 10vh;
  margin: auto;
  padding: 1em 2em;
  flex-direction: row;
  background-image: linear-gradient(to right, #0000004d 10%, #000000c0 50%, #0000004d 90%);
  
}

.nav-logo-img {
  width: 3em;
  height: auto;

}

.nav-menu-container {
  width: 50%;
  margin-left: auto;
}

.nav-menu {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-option {
  color: var(--clr-light);
  font-family: var(--fnt-menu);

  /* Responsive font size with clamp */
  font-size: clamp(10px, 2vw, 30px); /* Min 16px, scale with viewport, max 24px */

  cursor: pointer;
}

.nav-option > * {
  text-decoration: none;
}
#hero_alpha {
  outline: 2px solid #ff0000;
}
.alpha {
  position: absolute;
  font-size: 70pt;
}
.country, .band {
  position: absolute;
  width: max-content;
  color: #ffffff;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}
.country:hover {
  cursor: pointer;
  fill: #ff0000 !important;
}

.solv-alpha {
  animation: fadeOut 4s forwards;
}

.solv-beta {
  animation: fadeOut 1s forwards;
}

.coag-alpha {
  animation: fadeIn 4s forwards;
}
.coag-beta {
  animation: fadeIn 1s forwards;
}

.dancing-container {
  background-color: var(--clr-light);
}

/* Fade animations */
@keyframes fadeOut {
  0%, 30% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(20px, 20px); /* Slight movement to indicate transition */
  }
}

@keyframes fadeIn {
  0%, 30% {
    opacity: 0;
    transform: translate(-20px, -20px); /* Opposite movement for the other element */
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.game-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch; /* Ensures all items stretch to the container’s height */
  width: clamp(200px, 100%, 1000px);
  margin: auto;
  margin-top: 5em;
  /* outline: 2px solid #ff0000; */
}



.score-container>h1 {
  font-size: larger;
  margin-bottom: 0;
}

.score-container>p {
  font-size: min(13px, 1.6vh);
  width: 100%;
  margin: 0 0 7px;
}

.game-card-container>button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: clamp(13px,(1.3vw,2vh),18px); */
  padding: 6px 16px;
  margin: 4px 6px;
  border-radius: 20px;
  border-width: 0;

  text-decoration: none;
  vertical-align: middle;

  width: 7.5em;
  height: 2.5em;
  max-width: 98px;
  max-height: 42px;
}

.about-page {
  width: 50%;
 
  margin: auto;
  padding: 5em;
  background-image: linear-gradient(to right, #0000004d 10%, #000000c0 50%, #0000004d 90%);
outline: 2px solid #ff0000;
}

.about-page > h1 {
  padding: 1em 0;
  text-align: center;
  color: var(--clr-light);
}

.about-page > p {
 
  margin: auto;
  font-size: large;
  text-align: center;
  color: var(--clr-light);
  
}

.leaderboard-page {
  width: 50vw;

  
  margin: auto;
  padding: 1em 5em;
  padding-left: clamp(0.5em, 2vw, 2em);
  padding-right:  clamp(0.5em, 2vw, 2em) ;
  border-radius: clamp(10em, 5vw, 20em);
  background-color: var(--clr-light);
  
 /* outline: 2px solid #ff0000; */
}

.leaderboard-page > * {
 
  text-align: center;
  color: var(--clr-dark);
}
.leaderboard-container {
  margin: 2em auto;
  padding: 1em 2em;

}
.leaderboard-container > * {
  /* margin: 0 !important; */
  /* outline: 2px solid #ff0000; */
}
.leaderboard-container > img {
  width: clamp(2em, 5vw, 10em);
  height: auto;
  margin: 0 1em;
}
.leaderboard-container > h3 {
  margin: 0 0 1em 0;
  font-size: clamp(25px, 2vw, 50px);
}
.rank-container > * {
  /* outline: 2px solid #ff0000; */
}
.rank-container {
  display: flex;
  width: 100%;
  margin: 1em 0;
  flex-direction: row;
  background-color: var(--clr-dark);
  border-radius: 5em;
  align-items: center;
}
.player-rank {
  width: 10%; 
  height: auto;
  margin: 0 1em;
  border-radius: 10em;
}
.player-rank > h1 {
  color: var(--clr-light) !important;
  font-size: clamp(20px, 2vw, 30px);
}
.player-info{
  width: 90%;
  padding: 1em 2em ;
  border-radius: 2.5em;
  text-align: left !important;
  background-color: #000;
}
.player-info > h3 {
  font-size: clamp(20px, 2vw, 30px);
  color: var(--clr-light);
}
.player-info > h5 {
  margin-left: 1em;
  font-size: clamp(10px, 2vw, 15px);
  color: #a7a7a7;
}
.player-info > * {
  margin: 0;
  /* outline: 2px solid #ff0000; */
}

.profile-pic {
  width: clamp(5em, 2vw, 10em);
  height: auto;
  border: 2px solid var(--clr-dark);
  border-radius: 50%;
}
.profile-pic > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
/* ------------------------------------ */

.color {
  width: 50px;
  height: 50px;
  border-radius: 50%;

}

.bgColor-green {
  background-color: var(--clr-green);
}

.bgColor-yellow {
  background-color: var(--clr-yellow);
}

.bgColor-red {
  background-color: var(--clr-red);
}

.color-green {
  color: var(--clr-green) !important;
}

.color-yellow {
  color: var(--clr-yellow) !important;
}

.color-red {
  color: var(--clr-red) !important;
}

.land:hover {
  cursor: pointer;
 fill: #ff0000;
}