body {
  margin: 0;
  font-family: "Inter-Regular",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: "Inter-Regular";
  src: local('Inter-Regular'), url(./fonts/Inter-Regular.ttf) format('truetype');
}
@font-face {
  font-family: "Inter-Bold";
  src: local('Inter-Bold'), url(./fonts/Inter-Bold.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* --------------------------------- */

* {
  /* outline: 2px solid #ff0000; */
}
:root {
  --clr-dark: #000;
  --clr-light: #fff;
  --clr-none: #0000;
  --clr-green: rgb(43, 182, 115);
  --clr-red: rgb(255, 70, 45);
  --clr-red-dark: #531b0b;
  --clr-yellow: rgb(255, 193, 71);
  --clr-select: #91bdcc;
  --clr-select-dark: #253b59;
  --fnt-menu: "Ubuntu", sans-serif;
  background-color: var(--clr-dark);

}

h1 {
  color: var(--clr-light);
  font-family: "Inter-Bold", arial, sans-serif;
}

